<?xml version="1.0"?>
<configuration>    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LebroITSolutions.ChatModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NetworkLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LebroITSolutions.ChatModel.Properties.Settings>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.0.100</value>
            </setting>
            <setting name="SubNetMask" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>local</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="Alias" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameOrAlias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="WebserviceUsed" serializeAs="String">
                <value>False</value>
            </setting>
        </LebroITSolutions.ChatModel.Properties.Settings>        
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
